.App {
  text-align: center;
}

.camera-container {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 400px;
  border: 2px solid red;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.camera-capture-button {
  margin-top: 10px;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
